$navbar-default-bg: #303133;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  height: 100%;
}

.navbar {
    
}

.center {
    text-align: center;
}

.jumbotron {
  background-image: asset-url('backgroundHome.jpeg');
  background-size: cover;
  height: 300px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo {
    float: left;
    font-size: 1.1em;
    color: red;
    text-transform: lowercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: gray;
    text-decoration: none;
}

.btn-xlarge {
    background-color: red;
    border: none; 
}

.btn-xlarge:hover {
    background-color: gray;
}

footer {
  position: fixed;
  width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  padding-left: 10px;
  padding-right: 10px;
  bottom: 0;
}


footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}